* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: gray;
}

.design {
  position: relative;
  width: 400px;
  height: 500px;
  background: pink;
  box-shadow: 0 0 50px rgb(233, 24, 9);
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
}

.design1 {
  position: relative;
  width: 400px;
  height: 800px;
  background: pink;
  box-shadow: 0 0 50px rgb(233, 24, 9);
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
}

h2 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.input-group {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid black;
}

.input-group label {
  position: absolute;
  top: 30%;
  left: 5px;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: .5s;
}
.input-group input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: black;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
  top: -5px;
}


button {
  position: relative;
  width: 100%;
  height: 40px;
  background: red;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
  top: 10px;
}


.head{
  position: relative;
  top: 1rem;
}
